# البيئة الافتراضية (حجمها كبير ولا تُرفع)
venv/
env/
ENV/

# ملفات كاش بايثون المؤقتة
pycache/
*.pyc
*.pyo
*.pyd

# قاعدة البيانات المحلية (لتجنب رفع بياناتك الشخصية)
db.sqlite3

# ملف المتغيرات البيئية (إذا كان يحتوي على مفاتيح سرية)
.env

# إعدادات المحرر المحلية
.vscode/

# ملفات الميديا المرفوعة محلياً (اختياري حسب رغبتك)
media/